@{
    ViewBag.Title = "FAQ";
}



<div class="jumbotron">
    <h1 style="color: black">@ViewBag.Title</h1>


 

    <p class="lead">Najczęściej zadawane pytania</p>
    <hr />
</div>


<div class="row">
    <div class="col-md-9">
        <hr />
        <h2> <b>Kiedy dokonać płatności za lekcję?</b></h2>
        <hr />
        <p>Płatności dokonuje się tuż po odbytej lekcji w punkcie opłat siedziby naszej szkoły.</p>
    </div>

    <div class="col-md-9">
        <hr />
        <h2> <b>Co jeśli zapiszę się i nie stawię na lekcji?</b></h2>
        <hr />
        <p>Nie naliczamy żadnych opłat za niestawienie się na zajęciach. Może to jednak skutkować wpisaniem osoby na czarną listę.</p>
    </div>

    <div class="col-md-9">
        <hr />
        <h2> <b>Czym jest czarna lista?</b></h2>
        <hr />
        <p>Jest to lista kursantów, którzy nie stawili się na zajęciach minimum 3 razy. Nie zostają oni wpuszczeni na zajęcia do momentu uiszczenia opłaty za wykreślenie z owej listy.</p>
    </div>

    <div class="col-md-9">
        <hr />
        <h2> <b>Czy jest możliwość wykreślenia z czarnej listy?</b></h2>
        <hr />
        <p>Tak, należy uiścić opłatę w wysokości 200,00 PLN brutto.</p>
    </div>

    <div class="col-md-9">
        <hr />
        <h2> <b>Czy mogę zapisać się na więcej niż jeden kurs?</b></h2>
        <hr />
        <p>Tak, o ile nie koliduje to z żadnym innym kursem.</p>
    </div>

</div>

