@{
    ViewBag.Title = "Strona Główna";
}

<div class="jumbotron">
    <h1>
        <b>
            <font style="color: black">
                <center>
                    <img src="/Content/Images/Gitara.png" alt="Logo" style="width: 50px; height: 50px; transform: rotate(-90deg)">
                    Centrum 

                    Zajęć

                    Gitarowych
                    <img src="/Content/Images/Gitara.png" alt="Logo" style="width: 50px; height: 50px;">
                </center>
            </font>
        </b>
    </h1>
   
    <hr/>
    <br/>
    <p class="lead">Centrum Zajęć Gitarowych, to uznana szkoła nauki gry na gitarze, która stawia na profesjonalizm nauczycieli.</p>
    
    
    <p>@Html.ActionLink("Dowiedz się więcej >>", "About", "Home", null, new { @class = "btn btn-default btn-lg" })</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Rozpocznij naukę
            <img src="/Content/Images/Czapka.png" alt="Logo" style="width: 50px; height: 50px;">
        </h2>
        

        <p>
            Aby zostać naszym uczniem, wystarczy założyć nowe konto i zapisać się na interesujący Cię kurs. To takie proste!

        </p>
        <p>
            <br />
            @Html.ActionLink("Załóż nowe konto uczniowskie >>", "Register", "Account", null, new { @class = "btn btn-warning" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Zasady płatności
            <img src="/Content/Images/Pieniadze.png" alt="Logo" style="width: 50px; height: 50px;">
            
        </h2>
        <p>
            W naszej szkole zaufanie do uczniów to podstawa, płacisz dopiero po odbytych zajęciach.
            
        </p>
        <p>
            <br />
            @Html.ActionLink("Dowiedz się więcej >>", "FAQ", "Home", null, new { @class = "btn btn-success" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Więcej pytań?
            <img src="/Content/Images/Pytania.png" alt="Logo" style="width: 50px; height: 50px;">
        </h2>
        <p>Zanim się z nami skontaktujesz, spróbuj znaleźć na nie odpowiedź w naszej bazie.</p>
        <p>
            <br />
            @Html.ActionLink("Najczęściej zadawane pytania >>", "FAQ", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>